
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/


*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates
.vs/
.vscode/
*.swp
*.*~


*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/


*.db
*.db-shm
*.db-wal


.DS_Store
Thumbs.db


wwwroot/uploads/*
!wwwroot/uploads/.gitkeep


appsettings.Development.json
